<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>hula static site</title>
</head>
<body>
  <h1>This ist hula</h1>
  <p>The first post for the new hula site</p>
</body>
</html>